.back-container {
  background-color: #181818;
  display: flex;
  align-items: center;
  height: 56px;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 24px;
  color: white;
}

.back-arrow-icon {
  width: 24px;
  height: 24px;
}

.back-para {
  font-family: 'Assistant';
  font-size: 16px;
  font-weight: 600;
  margin-left: 8px;
}
