.audio-player-main-container {
  background-color: #181818;
  display: flex;
  align-items: center;
  height: 56px;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0 24px;
  color: white;
  border-top: 0.5px solid #9b9b9b;
  font-family: 'Roboto';
}

.audio-player-track-thumbnail {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.audio-player-song-name {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 400;
}

.audio-player-artist-name {
  font-size: 12px;
  margin-top: 5px;
  font-weight: 400;
}

.play-icon {
  color: white;
  height: 25px;
  width: 25px;
  text-align: right;
}
